body{
	overflow: scroll;
}
/* ------------------ for clear all----------*/

.h6, h6 {
    color: #059ead;
}
/* ------------------ end clear all----------*/

/* ------------------ for navbar ----------*/

.navbar-brand>img {
    display: block;
    height: 30px;
    width: auto;
    margin: -8px;
    padding-top: 10px;
    margin-left: 10px;
}

.navbar-default {
    background-color: #0d0c2e;
    border-color: #0d0c2e;
}

.navbar-default .navbar-nav>li>a {
    color: #e1dcdc;
    margin-left: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #869597;
    background-color: #060332;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:     rgba(99, 124, 127, 0.61);;
}

/* ------------------ end navbar ----------*/

/* ------------------ grid 1st column class ----------*/

.filters{
	background-color: #eefbfd;
	padding-left: 80px;
	margin-top: 50px;
	position: fixed;
}

.space{
	margin-top: 12px;
	margin-bottom: 5px;
}
.space1{
	margin-top: 10px;
	margin-bottom: 50px;
}


.col-lg-8 {
    margin-top: 70px;
}

.col-lg-8.main {
    margin-left: 350px;
}

.button {
    background: #eefbfd;
    color: #1397a4;
    border-radius: 0 !important;
    float: right;
    margin-top: -30px;
}

.Aspan {
    font-size: 9px;
    padding: 2px;
    margin-left: 100px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1px solid black;
}

.Sspan {
    font-size: 9px;
    padding: 2px;
    margin-left: 69px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1px solid black;
}
.Tspan {
    font-size: 9px;
    padding: 2px;
    margin-left: 60px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1px solid black;
}
.Fspan {
    font-size: 9px;
    padding: 2px;
    margin-left: 110px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1px solid black;
}
.Cspan {
    font-size: 7px;
    padding: 2px;
    margin-left: 110px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 1px solid black;
}
/* ------------------ end grid 1st column classes ----------*/

/* ------------------ end grid 2nd column classes ----------*/
.Nothing{
	text-align: center;
	margin-top: 10px;
}

.results{
	margin-top: 20px;
}

.logo{
	   display: block;
    	height: 50px;
    	width: auto;
   		 margin: -8px;
   		 padding-top: 10px;
		margin-left: 10px;
		float: left;
}

.title{
	padding-left: 20px;
	padding-top: 10px;
}

.skills{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
	border-radius: 1px solid grey;
	    background-color: rgba(112, 117, 123, 0.14);
	        margin-left: 7px;
	            margin-top: 5px;
}

li{
	list-style: none;
}

.skispace{
	margin-top: -60px;
	width: 350px;
    height: 50px;
    float: right;
}

hr{
	    margin-top: 12px;
    margin-bottom: 10px;
}

.ctc b{
	 color: rgba(40, 33, 33, 0.47);
    font-weight: 700;
    text-align: center;
}

.pagination {
    margin: 10px 100px;
}

.ctc{
	margin-top: 20px;
}
.exp{
	margin-top: 20px;
}
.locHead{
	margin-top: 22px;
}

.exp b{
	color: rgba(40, 33, 33, 0.47);
    font-weight: 700;
}

.locHead b {
    color: rgba(40, 33, 33, 0.47);
    font-weight: 700;
}

span.ng-binding {
    font-weight: 600;
        font-size: 12px;
    color: rgba(0, 0, 0, 0.76);
}
.input-group.stylish-input-group {
    margin-bottom: 50px;
    /* background: white; */
}

.webURL{
	padding-left: 62px;
}

a.ng-binding {
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600;
}

hr{
	height:1px;
	border:none;
	color:#333;
	background-color:rgba(51, 51, 51, 0.18)
}

.req {
    margin-left: 55px;
    margin-top: -8px;
}

.onoff {
    margin-top: 10px;
    padding-left: 5px;
    margin-left: 20px;
}
/* ------------------ end grid 2nd column classes ----------*/
/* ------------------ for grid 3rd column classes ----------*/


/* ------------------ end grid 3rd column classes ----------*/


/* ------------------ for search bar ----------*/


.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/* ------------------ end search bar ----------*/

@media only screen and (max-width: 600px) {

	.filters{
		width: 40%;
		position: normal;
		float: none;
		margin-top: 0px;
		padding-left: 10px;
	}

	.main{
	width: 60%;
	}
	.pagination{
	margin: 0px 0px;
	}
	
}
